
<div class="login-box set-middle">
	<form>
		<input type="password" required class="form-control form-text-box" placeholder="Old Password" ng-model="pass.oldP">
		<input type="password" required class="form-control form-text-box" placeholder="New Password" ng-model="pass.newP">
		<input type="password" required class="form-control form-text-box" placeholder="Re-Enter New Password" ng-model="pass.rNewP">
		<p ng-if="pass.newP != pass.rNewP">Password Mismatch</p>
		<button class="btn btn-success" ng-click="changePwd()">Submit</button>
	</form>
</div>