<!DOCTYPE html>
<html>
	<head>
		<title>CarShop - Dashboard</title>
		<link rel="stylesheet" href="../libraries/css/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<script src="../libraries/js/angular.min.js"></script>
		<script src="../libraries/js/jquery-ui/external/jquery/jquery.js"></script>
		<script src="../libraries/css/bootstrap/js/bootstrap.min.js"></script>
		<script src="../js/angular-script.js"></script>
	</head>
	<body>
		<div class="header">
			<h1 align="center">CarShop</h1>
		</div>
		<div id="user-options" class="user-options">
			<div class="options-first">
				<h4>SEARCH</h4>
				<i class="glyphicon glyphicon-search option-icon" aria-hidden="true"></i>
			</div>
			<div class="options-first">
				<h4>FAVIOURIT</h4>
				<i class="glyphicon glyphicon-heart option-icon"></i>
			</div>
			<div class="options-end">
				<h4>SELL</h4>
				<i class="glyphicon glyphicon-usd option-icon"></i>
			</div>
		</div>
	</body>
</html>