<div class="set-middle car-data-edit">
		<h2 align="center">Enter the following details</h2>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<input placeholder="Car Name" class="form-control form-box" type="text" ng-model="data.carName" />
					<input placeholder="Car Model"  class="form-control form-box" type="text" ng-model="data.carModel" />
					<input placeholder="Model Year"  class="form-control form-box" type="text" ng-model="data.carYear" />
					<input placeholder="No. of Gears" class="form-control form-box" type="text" ng-model="data.carGear">
					<input placeholder="Seating Capacity" class="form-control form-box" type="text" ng-model="data.seat">
				</div>
				<div class="col-sm-6">
					<select class="form-control form-box" ng-model="data.color">
						<option value="" selected="selected">--Select a Color--</option>
						<option value="white">White</option>
						<option value="black">Black</option>
						<option value="grey">Grey</option>
						<option value="red">Red</option>
						<option value="brown">Brown</option>
						<option value="blue">Blue</option>
					</select>
					<select class="form-control form-box" ng-model="data.owner">
						<option value="" selected="selected">--Select Ownership--</option>
						<option value="first">First-Hand</option>
						<option value="second">Second-Hand</option>
						<option value="third">Third-Hand</option>
					</select>
					<select class="form-control form-box" ng-model="data.fuelType">
						<option value="" selected="selected">--Select Fuel Type--</option>
						<option value="pertrol">Petrol</option>
						<option value="diesel">Diesel</option>
						<option value="cng">CNG</option>
						<option value="electric">Electric</option>
					</select>
					<input class="form-control form-box" placeholder="Milage" type="text" ng-model="data.milage" />
					<input class="form-control form-box" placeholder="Engine CC" type="text" ng-model="data.cc" >
				</div>
				<div class="col-sm-12">
					<textarea placeholder="Address" ng-model="data.address" style="width:100%;" class="form-control form-box"></textarea>
					Upload a photo: <input class="form-control form-box" type="file" id="myFile">
					<button ng-click="sell()" class="btn btn-success">Sell Car</button>
				</div>
			</div>
		</div>
	</div>