<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form method="post" action="http://localhost:8080/carshop/Jserv/control/newUser">
<input type="text" name="name" placeholder="name">
<input type="text" name="email" placeholder="email">
<input type="text" name="phone" placeholder="phone">
<input type="password" name="pwd" placeholder="password">
<input type="text" name="region" placeholder="region">
<input type="submit">
</form>
</body>
</html>