<div class="login-box set-middle">
	<form method="post" action="http://localhost:8080/carshop/Jserv/control/userLogin">
		<p align="center">Welcome, Please Login!</p>
		<input type="text" class="form-control form-text-box" placeholder="Email Address" name="mail">
		<input type="password" class="form-control form-text-box" placeholder="Password" name="pwd">
		<button type="submit" class="btn btn-success set-middle">Sign in</button>
		<a text-align="left" class="link-text" href="views/signup.html">Signup </a>|<a text-align="right" class="link-text" href="#"> Forgot Password</a>
	</form>
</div>