<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CarShop - Login</title>
<link rel="stylesheet" href="libraries/css/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/style.css" />
<script src="libraries/js/angular.min.js"></script>
<script src="libraries/js/jquery-ui/external/jquery/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script src="js/script.js"></script>
<script src="js/angular-routing.js"></script>
<script src="js/angular-services.js"></script>
<script src="js/angular-script.js"></script>
</head>
<body ng-app="mainPage">
	<div class="header">
		<h1 align="center">CarShop</h1>
	</div>
	<div class="set-middle car-data-edit">
		<h2 align="center">Enter the following details</h2>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<input placeholder="Car Name" class="form-control form-box" type="text" ng-model="name" />
					<input placeholder="Car Model"  class="form-control form-box" type="text" ng-model="model" />
					<input placeholder="Model Year"  class="form-control form-box" type="text" ng-model="year" />
					<input placeholder="No. of Gears" class="form-control form-box" type="text" ng-model="gears">
					<input placeholder="Seating Capacity" class="form-control form-box" type="text" ng-model="seats">
				</div>
				<div class="col-sm-6">
					<select class="form-control form-box" ng-model="color">
						<option>--Select a Color--</option>
						<option value="white">White</option>
						<option value="black">Black</option>
						<option value="grey">Grey</option>
						<option value="red">Red</option>
						<option value="brown">Brown</option>
						<option value="blue">Blue</option>
					</select>
					<select class="form-control form-box" ng-model="owner">
						<option>--Select Ownership--</option>
						<option value="first">First-Hand</option>
						<option value="second">Second-Hand</option>
						<option value="third">Third-Hand</option>
					</select>
					<select class="form-control form-box" ng-model="fuelType">
						<option>--Select Fuel Type--</option>
						<option value="pertrol">Petrol</option>
						<option value="diesel">Diesel</option>
						<option value="cng">CNG</option>
						<option value="electric">Electric</option>
					</select>
					<input class="form-control form-box" placeholder="Milage" type="text" ng-model="milage" />
					<input class="form-control form-box" placeholder="Engine CC" type="text" ng-model="cc" >
				</div>
				<div class="col-sm-12">
					<textarea placeholder="Address" ng-model="address" style="width:100%;" class="form-control form-box"></textarea>
					Upload a photo: <input class="form-control form-box" type="file" ng-model="file">
					<button ng-click="" class="btn btn-success">Sell Car</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>