body{
	background:#efefef;
}

.set-middle{
	height: auto;
    margin: 0 auto;
    position: relative;
}
.login-box{
	width: 25%;
	background:white;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid black;
}
.link-text{
	text-decoration:none;
	color: #6ab8fc;
}

.form-text-box{
	margin:10px 0;
}

.header{
	padding:15px;
	margin-bottom: 20px;
}
.options-first{
	border-right: 1px solid black;
	display:inline-block;
	padding: 10px 25px;
}
.options-end{
	display:inline-block;
	padding: 10px 25px;
}
.user-options{
	text-align:center;
}
.option-icon{
	font-size: 400%;
	text-decoration: none;
}
.user-note{
	border-top: 1px solid #9ec2d4;
	border-bottom: 1px solid #9ec2d4;
	padding: 10px;
}
.car-data-edit{
	width: 50%;
	background:white;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid black;
}
.form-box{
	margin: 10px 0;
}